body {
    background-color: aqua;
    color: white;
    margin: 0;
    font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial;
}

.LeftAlign {
    border: 5px solid red;
    float: left;
    margin-right: 12px;
    box-sizing: border-box;
    width: auto;
    height: auto;
}

.RightAlign {
    border: 5px solid black;
    float: right;
    margin-left: 12px;
    box-sizing: border-box;
    width: auto;
    height: auto;
}

.CenterAlign {
    border: 5px solid green;
    margin: 12px auto;
    box-sizing: border-box;
    max-width: 50%;
    width: auto;
    height: auto;
    display: block;
}