.body {
    background-color: aqua;
    color: white;
}

.LeftAlign {
    border: 5px solid;
    border-color: red;
    float: left;
    height: 25px;
    width: 87px;
}
 .RightAlign {
    border: 5px solid;
    border-color: black;
    float: right;
    height: 25px;
    width: 87px;
}  

.CenterAlign {
    border: 5px solid;
    border-color: green;
    margin: auto;
    height: 25px;
    width: 87px;
}